{% extends 'newspaper/layout.html' %}

{% load news_filters %}

{% block title %}
    {{ news.title|censor }}
{% endblock %}

{% block header %}
    {{ news.title|censor }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <h2>{{ news.title|censor }}</h2>
                <span class="d-block text-right">{{ news.created|date:'d-m-Y G:i' }}</span>
                <p>{{ news.content|censor }}</p>
            </div>
        </div>
    </div>
{% endblock %}